@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #1A202C;
  --white-color: #fff;
  --primary-color: #e9713d;
  --text-color: #1a202c;
  --bg-color: #fafafa;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--bg-color) !important;
}

.commondPage {
  padding-bottom: 10rem;

  @media screen and (max-width: 768px) {
    padding-bottom: 6rem;
  }
}

.home-slider-full {
  height: 100vh;
  @media screen and (max-width: 768px) {
    height: calc(100vh - 74px);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-track {
  background: #e0e0e0
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #bdbdbd
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary-custom {
  padding: 0.5rem 1.5rem;
  border: 1px solid #1a202c;
  color: #1a202c;
  outline: none;
  border-radius: 6px;
  font-weight: normal;

  &:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.link-primary {
  &:hover {
    text-decoration: none;
    color: #ffcdcd;
  }
}

.overlay_slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: .3;
}

.list-has-dot {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &::before {
    left: calc(50% - 13px);
    width: 26px;
    height: 26px;
    border: 5px solid #FFF;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: 1;
    top: -26px;
  }

  &::after {
    top: 0;
    bottom: 0;
    left: calc(50% - 2px);
    border-left: 4px solid #e7e7e7;
  }

  .item-dot {
    &::before {
      content: "";
      position: absolute;
      left: calc(100% + 21px);
      width: 22px;
      height: 22px;
      border: 5px solid #FFF;
      background-color: var(--primary-color);
      border-radius: 50%;
      z-index: 1;
      top: calc(45%);
    }
  }

  @media (max-width: 768px) {

    &::before,
    &::after,
    .item-dot::before {
      display: none;
    }
  }
}